<section class="site-main-container">
    <div class="p-heading-container">
        <h1 class="p-heading">Explore Articles</h1>
    </div>
    <div class="search-container">
        <form action="/search" method="get">
            <div class="search-input">
                <label for="s_query" hidden=true>Search</label><br>
                <input type="text" name="q" id="s_query" placeholder="Search for articles..." {{#if query}}
                    value="{{query}}" {{/if}}>
            </div>
        </form>
    </div>
    <div class="q-result-container">
        <div class="msgBox">
            {{#if errorMessage}}
            <p id="toast-message"><strong>{{errorMessage}}</strong></p>
            {{/if}}
        </div>
        <div class="results">
            {{#if posts}}
            <div class="postCount-container">
                <p class="count-text"><strong>{{posts.rowCount}} articles found</strong></p>
            </div>
            <div class="article-box">
                {{#if posts.rows}}
                {{#each posts.rows}}
                <div class="article-excerpt">
                    <p class="a-title">{{this.title}}</p>
                    <p class="a-body">{{this.body}}</p>
                    <p class="a-author" style="font-size: 0.8rem;">Written by - {{this.first_name}} {{this.last_name}}
                    </p>
                </div>
                {{/each}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</section>